/* colores 
bordo:  #AF0448;
casi negro: #35213A
*/


*{
  margin: 5;
  padding: 5;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

header{
  height: 75px;
  background: #AF0448;
  display: flex;
  justify-content: space-around;
  font-family: inherit;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  color: white;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-top: 20px;
  align-items: center;
  margin-left: 10px;
  text-align: center;
}

.pagina-formulario{
    align-items: center;
    justify-content: center;
}

ul{
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul li a{
  padding: 0 15px;
  color: #35213A;
  display: inline;

}

li a::after{
  content:'';
  display:block;
  height: 3px;
  width: 0;
  background-color: #35213A;
  transition: all .5s

}

li a:hover::after{
  width: 100%
}

main {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
}

.fondo{
  max-width: 670px;
  height:auto;
}

.content-left{
  width: 40%;
  align-items: center;
  justify-content: center;

}


@media screen and (min-width: 300px) {
    main h1 {
        font-size: 20px;
        padding-top: 300px;
        margin-top: 300px;
    }
  }

@media screen and (min-width: 450px) {
    main h1 {
        padding-top: 145px;
        font-size: 30px;
        margin-top: 100px;
    }
  }

@media screen and (min-width: 990px) {
    main h1 {
        padding-top: 10px;
        font-size: 60px;
    }
  }

main h1{
  font-family: 'Silkscreen', cursive;
  color: #AF0448;
  text-transform: capitalize;
  transition: ease-in 3s;
  letter-spacing: 4px;
  margin-left: 10px;
  text-align: center;
}

main p{
  font-weight: 400;
  color:#35213A;
  line-height: 32px;
  margin:30px 0
}

@media screen and (min-width: 450px) {
    main p {
        font-size: 10px;
    }
  }

  @media screen and (min-width: 600px) {
    main p {
        font-size: 12px;
    }
  }

  @media screen and (min-width: 990px) {
    main p {
        font-size: 16px;

    }

  

.cta{
  padding:15px 30px;
  background: #AF0448;
  color:#35213A;
  outline:none;
  border:none;
  font-weight: 700px;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;

}

/* ------------- busqueda---------------  */


:root{
    --md-dark-color: #fffae3;
    --dark-color: #d4d0c1;
    --light-dark-color: #f3dff5;
    --yellow-color: #d4aa11;

}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
    background-color: #d4d0c1;
}
.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.search-container{
    background-color: #fffae3;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.search-element h3{
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #35213A;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: #f3dff5;
    width: 350px;
}
.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item{
    background-color: #f3dff5;
    padding: 0.5rem;
    border-bottom: 1px solid #fffae3;
    width: calc(350px - 8px);
    color: #35213A;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: #d4aa11;
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 3rem 0;
}
.movie-poster img{
    max-width: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}
.movie-info{
    text-align: center;
    color: black;
    padding-top: 3rem;
}

.movie-title{
    font-size: 2rem;
    color: #d4aa11;
}
.movie-misc-info{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
}
.movie-info .year{
    font-weight: 500;
}
.movie-info .rated{
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
}
.movie-info .released{
    font-size: 0.9rem;
    opacity: 0.9;
}
.movie-info .writer{
    padding: 0.5rem;
    margin: 1rem 0;
}
.movie-info .genre{
    display: inline-block;
    padding: 0.5rem;
    border-radius: 3px;
}
.movie-info .plot{
    max-width: 400px;
    margin: 1rem auto;
}

.movie-info .awards{
    font-weight: 300;
    font-size: 0.9rem;
}
.movie-info .awards i{
    color: #d4aa11;
    margin: 1rem 0.7rem 0 0;
}

@media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .movie-misc-info li:nth-child(2){
        margin: 0.8rem 0;
    }
}

@media(min-width: 800px){
    .search-element{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
    .result-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .movie-info{
        text-align: left;
        padding-top: 0;
    }
    .movie-info .movie-misc-info{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 0;
    }
    .movie-info .plot{
        margin-left: 0;
    }
    .movie-info .writer{
        padding-left: 0;
        margin-left: 0;
    }
}

/* ---- formulario ----- */

.formulario{
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.formulario p{
    padding-top: 10px;
}


/* ---- peliculas ----*/
.pelicula{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.pelicula h3{
    color:#AF0448;
    padding-top: 10px;
    padding-bottom: 10px;
}

.avances {
    padding-top: 300px;
}


/* ---- footer ----- */

.footer{
    background: #AF0448;
    color: white;
    text-align: center;
    
    padding: 2.5em 0;
}

.footer a {color: inherit}

.footer_link:hover, .social-list:hover{
    opacity: .6
}
